In [2]:
import project_functions as p1
test = p1.first_python_module("../data/raw/Player_Attributes.csv")
test

,ID,FULL NAME,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,POSITION,ROSTERSTATUS,TEAM_NAME,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PPG,APG,RBG,OverallScore
2,76003,"Abdul-Jabbar, Kareem",1947-04-16T00:00:00,UCLA,USA,UCLA/USA,86.0,225.0,19,Center,Inactive,Lakers,1969,1,1,24.6,3.6,11.2,14.28
25,201582,"Ajinca, Alexis",1988-05-06T00:00:00,Hyeres-Toulon,France,Hyeres-Toulon/France,86.0,248.0,7,Center,Inactive,Pelicans,2008,1,20,5.3,0.5,3.9,4.85
28,202374,"Alabi, Solomon",1988-03-21T00:00:00,Florida State,Nigeria,Florida State/Nigeria,85.0,252.0,2,Center,Inactive,Raptors,2010,2,50,1.5,0.2,2.3,NaN
83,101149,"Andriuskevicius, Martynas",1986-03-12T00:00:00,Zalgiris,Lithuania,Zalgiris/Lithuania,86.0,240.0,1,Center,Inactive,Cavaliers,2005,2,44,0.0,0.0,0.7,1.98
142,2053,"Bagaric, Dalibor",1980-07-02T00:00:00,Benston Zagreb,Croatia,Benston Zagreb/Croatia,85.0,290.0,3,Center,Inactive,Bulls,2000,1,24,2.6,0.4,2.5,0.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3468,2254,"Woods, Loren",1978-06-21T00:00:00,Arizona,USA,Arizona/USA,86.0,260.0,6,Center,Inactive,Timberwolves,2001,2,45,2.6,0.3,3.2,3.66
3488,1007,"Wright, Luther",1971-09-22T00:00:00,Seton Hall,USA,Seton Hall/USA,86.0,270.0,0,Center,Inactive,Jazz,1993,1,18,1.3,0.0,0.7,14.08
3493,2397,Yao Ming,1980-09-12T00:00:00,Shanghai,China,Shanghai/China,90.0,310.0,8,Center,Inactive,Rockets,2002,1,1,19.0,1.6,9.2,1.70
3507,1937,"Young, Tim",1976-02-06T00:00:00,Stanford,USA,Stanford/USA,86.0,270.0,0,Center,Inactive,Warriors,1999,2,56,2.2,0.2,1.4,2.58
3520,78647,"Zoet, Jim",1953-12-30T00:00:00,Kent State,USA,Kent State/USA,85.0,240.0,0,Center,Inactive,Pistons,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,1.45